[mysqld]
general_log = 0
log_bin_trust_function_creators = 1

character-set-server = utf8mb4
collation-server     = utf8mb4_unicode_ci

innodb_buffer_pool_size      = 3G
innodb_buffer_pool_instances = 2

innodb_log_file_size   = 256M
innodb_log_buffer_size = 64M
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table  = 1

join_buffer_size     = 1M
sort_buffer_size     = 1M
read_buffer_size     = 512K
read_rnd_buffer_size = 512K

max_connections    = 150
max_allowed_packet = 16M
thread_cache_size  = 16
wait_timeout       = 60
interactive_timeout = 180

slow_query_log      = 1
slow_query_log_file = /var/lib/mysql/mysql-slow.log
long_query_time     = 1

tmp_table_size      = 32M
max_heap_table_size = 32M
